<div id="ad_new">
  <div class="panel panel-default">
    <div class="panel-heading"><%= t ".ad_registeration_form" %></div>
    <div class="panel-body">
        <%= render 'form' %>
    </div>
  </div>
</div>
