<div class="topic_list col-sm-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= topic.name %></h3>
    </div>
    <ul class="list-group">
      <% topic.last_articles.each_with_index do |article, index| %>
        <li class="list-group-item  <%= "myhidden" if index>5 %>">
          <%= render 'topics/home/article',topic: topic, article: article , index: index %>
        </li>
      <% end %>
      <li class="list-group-item show_more myhidden">
        <a href="" class=""><%= t "show_more" %></a>
      </li>
    </ul>
  </div>
</div>