<div class="row">

  <% if article.thumb.present? %>
    <div class="col-xs-9">
      <span class="title">
        <%= article.title %>
      </span>
      <p class="time_ago small text-muted"> <%= date_human article.created_at %></p>
      <!-- <p class="truncate"><%#= truncate(article.truncate, length: 80)  %></p> -->
    </div>
    <div class="thumb col-xs-3">
        <%= image_tag(article.thumb, size: "50", class: "pull-left", alt: article.title) %>
    </div>
  <% else %>
   <div class="col-xs-12">
      <span class="title">
        <%= article.title %>
      </span>
    </div>
   <% end %>
</div>
