<% if @search.fuel.nil? and @search.fuels.any? %>
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title"><%= t ".fuels" %></h3>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <% @search.fuels.each_with_index do |fuel, index| %>
        <%= render partial: 'searches/filters/row', 
          locals:{ value: fuel, name: "fuel",  index: index} %>
      <% end %>
    </ul>
  </div>
<% end %>