<% @page_title = t(".topics_page_title") %>
<div id="others_topics_home">
  <% @topics.each_with_index do |topic, index| %>
    <div class="topic_list col-sm-6 col-md-4 col-lg-3">
      <%= render 'topics/index/list', topic: topic  %>
    </div>
  <% end %>
</div>  