<div id="others_topics_home">
  <% @topics.each_with_index do |topic, index| %>
    <%= render 'topics/home/list', topic: topic  %>
    <% if index == 3 %>
      <div class="row"></div>
    <% end %>
  <% end %>
</div>  