<%# @page_title = @article.title + "otoyabi.ir" %>

<div id="topic_show" class="col-sm-8">
  <div  class="panel panel-default">  
    <%= link_to @topic, title: @topic.name do %>
      <h2><%= @topic.name %></h2>
    <% end %>
    <div class="panel-body">
      <% @topic.self_and_sisters_subtopics.each do |subtopic| %>
        <%= render "topics/show/subtopic", subtopic: subtopic %>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to @topic.name, @topic, title: @topic.name %>
    </div>
  </div>
</div>

<div id="articles_list" class="col-sm-4">
  <%#= render 'topics/show/list', topic: @topic  %>
</div>