<div class="panel panel-default">
  <div class="panel-heading">
    <% if ad.built_year %>
      <%= render 'shared/breadcrumbs' %>
    <% else %>
      <%= t ".car_details" %>
    <% end %>
  </div>
  <div class="panel-body">
    <%= render 'ads/show/car_details/car_details_body', ad: ad %>
  </div>
</div>

    
