<% @page_title =  "مشخصات فنی " + built_year_title(@built_year) %> 

<div id="built_year_car_details" class="col-sm-12 col-md-8 col-md-offset-2 ">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= image_tag @built_year.image, class: "pull-left" %>
      <h1 class="panel-title">
        مشخصات فنی <%= built_year_title(@built_year) %>
      </h1>
    </div>
    <div class="panel-body">
      <%= render 'built_years/show/car_details_body', built_year: @built_year %>
    </div>
  </div>
</div>