<%= link_to topics_path do %>
  <h3><%= t ".otoyabi magazine" %></h3>
  <h4><%= t ".line1" %></h4>
<% end %>

<!-- <div class="panel panel-default">
  <div class="panel-body">
    <%# article = Article.last %>
  </div>
</div>
 -->