<% if @search.make_id or
  @search.car_model_id or
  @search.body_color_id or
  @search.internal_color_id %>
  <div id="top_filter_section" class="">
    <% if @search.make_id %>
      <%= render partial: 'searches/search_list/top_filter_remove', locals: { field: @search.make, name: "make" } %>
    <% end %>

    <% if @search.car_model_id and @search.make_id %>
      <%= render partial: 'searches/search_list/top_filter_remove', locals: { field: @search.car_model, name: "car_model" } %>
    <% end %>

    <% if @search.body_color_id %>
      <%= render partial: 'searches/search_list/top_filter_remove', locals: { field: @search.body_color, name: "body_color" } %>
    <% end %>

    <% if @search.internal_color_id %>
      <%= render partial: 'searches/search_list/top_filter_remove', locals: { field: @search.internal_color, name: "internal_color" } %>
    <% end %>

  </div>
  <div id="space_for_top_filter" class="col-xs-12">
    
  </div>
<% end %>
