<div id="my_ads">
  <h5> <%= t (".my ads") %> </h5>
  <div class="panel-group" id="accordion">
    <% @dashboard.my_ads.each do |ad| %>
      <%= render 'dashboards/my_ads/ad', ad:ad %>
    <% end %>
  </div>
</div>