<div id="dashboard_show">

  <div class="col-sm-2">
  </div>

  <div class="col-sm-7">
    <%= render 'ads' %>
  </div>

  <div id="my_ads" class="col-sm-3">
    <%= render 'my_ads' %>
  </div>

</div>

