کاربر گرامی

<% case @code %>
<% when "2" %>
  <p>آگهی شما مورد تایید قرار گرفت و در لیست آگهی ها قابل مشاهده عموم است.</p>
<% when "30" %>
  <p>آگهی شما به علت ایراد در اطلاعات مورد تایید قرار نگرفت. لطفا اطلاعات نادرست را اصلاح نمایید تا دوباره مورد بررسی قرار گیرد.</p>
<% when "31" %>
  <p>آگهی شما به علت ایراد در عکس(ها) مورد تایید قرار نگرفت. لطفا آنها را بازبینی و اصلاح نمایید تا دوباره مورد بررسی قرار گیرد.</p>
<% when "32" %>
  <p>آگهی شما به علت ایراد در تلفن تماس مورد تایید قرار نگرفت. لطفا آنرا اصلاح نمایید تا دوباره مورد بررسی قرار گیرد.</p>
<% when "33" %>
    <p>آگهی شما به علت ایراد در قیمت مورد تایید قرار نگرفت. لطفا آنرا اصلاح نمایید تا دوباره مورد بررسی قرار گیرد.</p>
<% end %>

<p>با تشکر</p>
<p>پشتیبانی سایت اتو(مبیل)یابی</p>

<%= link_to "لینک آگهی", ad_url(@ad.id) %>