/* Small devices (tablets, 768px and up) */
@media (min-width: 750px) { 
  #ad_show{
    .panel{
      margin-bottom: 0px;
    }    
    #user_overview, #car_details{
      position: absolute;
      left: 0;
      bottom: 9px;
      top: 9px;
      overflow-y: auto;
      .panel{
        height: 100%;
      }
    }
    #car_details{
      left: 25%;
      .breadcrumb {
        padding: 0px;
        margin-bottom: 0px;
      }
      .details{
        P{
          line-height: 2em;
        }
      }
    }
  }
}

//  hover on big image
#preview{
  position:absolute;
  // border:1px solid #ccc;
  // background:#333;
  // padding:1px;
  display:none;
  img{
    border-radius: 6px;
    border:1px solid #2c2c2c;
    width: 900px;
  }
}


#ad_show{
  clear: both;
  #main-panel-heading{
    padding-bottom: 0;
    .title{
      margin: 0;
      font-size: 1.7em;
      color: #525252;
      overflow: hidden;
    }
    .back_to_search{
      padding-top: 2px;
      padding-left: 0px;
      color: #5A5A5A;
      font-size: 1.2em;
    }
  }
  
  .no_background{
    background-color: transparent;
  }
  .internal-section{
    padding: 0 5px;
    .panel-body{
      padding: 9px;
    }
  }
  #main-panel-body{
    position: relative;
    padding: 10px 4px;
    #image_section{
      #big_images{
        .big_image{
          width: 100%;
          display: none;
          min-height: 271px;
          img{
            // width: 100%;
            margin: 0 auto;
            height: 294px;
            border: 1px solid #D3D3D3;
            padding: 1px;
            border-radius: 3px;
          }
        }
        .big_image:first-child{
          display: block;
        }
      }
      #thumbs{
        border: 2px solid #EEE;
        overflow: hidden;
        .thumb{
          padding: 3px;
          img{
            border: 2px solid #DBDBDB;
            padding: 1px;
            border-radius: 2px;
            height: 70px;
            width: 103px;
          }
          .active{
            border: 2px solid #855EFF;
          }
        }

      }
    }//#image_section
    #user_overview{
      .ad_not_active{
        background: #FFF;
        position: absolute;
        top: 42px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        color: #aaa;
        font-size: 1.4em;
        padding: 29px;
      }
      .source_url{
        color: #fff;
      }
    }
  } //#main-panel-body
  #recommended_ads-panel-body{
    padding: 1px 7px 7px 4px;
    .wrapper-panel{
      padding: 0 2px;
      .recommended_ad{
        padding: 5px 0;
        a{
          color: #111;
          .panel-body{
            &:hover {
              background: #e6e6e6;
            }
          }
          .panel-body {
            padding: 4px;
            img{
              width: 134px;
              height: 88px; 
              border: 1px solid #D3D3D3;
              padding: 1px;
              border-radius: 3px;
            }
            p{
              font-size: .8em;
              margin: 0 0 7px;
            }
          }
        }
      }
    } //.wrapper-panel{
  }
  #car_models_list{
    a{
      text-align: right;
      font-family: sans-serif !important;
      font-size: 10px;
    }
  }
}

.my_active img{
  border: 3px solid #7D70DD !important;
  padding: 2px !important;
}

#ad_form{
  #new_ad_form{
    select, input[type="text"], textarea{
      border-radius: 2px;
      font-size: 12px;
      padding: 3px 5px 3px 9px;     
    }
    input[type="submit"]{
      margin-top: 20px;
    }
    #usage_type{
      span{
        display: inline-block;
        width: 100%;
        margin: 3px 0px 2px 0px;;
        color: #aaa;
        label{
          padding: 0 8px;
          float: right;
        }
        input{
          height: 17px;
          float: right;
          margin: 0;
        }
      }
    }
    .year-group{
      z-index: 1000;
      #year_format{
        padding-left: 0;
        position: absolute;
        left: 15px;
        top: 0px;   
        span{
          float: left;
          padding-right: 3px;
          font-size: 12px;
          margin-top: 3px;
          input{
            font-size: 8px;
            height: 10px ;
            float: right;
            margin-top: 3px;
          }
        }
      }
    }
    .year_nolabel{
      // margin-bottom: 17px;
    }
    .problem-margin-top{
      margin-top: 15px;
    }
  }
}

#ad_edit{
  .ad_image{
    .delete{
      color: #FC0000;
      border: 2px solid #f00;
      position: absolute;
      top: 20px;
      right: 30px;
      a{
        color: #FC0000;
      }
    }
    img{
      border: 2px solid #DADADA;
      padding: 3px;
      border-radius: 4px; 
    }

  }
}

form#new_image{
  #choose_file{
    background-image: url("https://s3-eu-west-1.amazonaws.com/otoyabi/static_files/images/add_image.png");
    background-position: center center;
    background-repeat: no-repeat;  
    color: #fff;
    width: 100%;
    .glyphicon{
      position: absolute;
      top: 10px;
      right: 28px;
    }
    input#image_name{
      text-indent: 2159px;
      opacity: 0;
      cursor: pointer;
      width: 100%;
    }
  }
}

#new_added_images{
  .new_photo{
    padding: 10px 0 22px 0;
    align-content: center;
    text-align: center;
    img{
      margin: auto;
    }
  }
}