$css_image_path : "https://s3-eu-west-1.amazonaws.com/otoyabi/static_files/images/css/";


//////////for error fields////////////
.field_with_errors{
  input{
    border: 1px solid #FC6C6C;
    box-shadow: 0px 0px 11px rgba(255, 85, 85, 0.38);
    &:focus {
      border: 1px solid #FC6C6C;
      box-shadow: 0px 0px 11px rgba(255, 85, 85, 0.38);
    }
  }
  label{
    color: #F00;

  }
  span{
    float: left;
    color: red;
  } 
}
////////////////////////////

form{
  .input>label{
    margin-bottom: 1px;
  }
  label.error{
    color: #F00;
    font-size: 12px;
    position: absolute;
    left: 16px;    
  }
}

.phones, .currencies{
  direction: ltr;
}

.unit{
  position: absolute;
  left: 16px;
  top: 22px;
  font-size: 11px;
  color: #aaa;
  border: 1px solid #DADADA;
  padding: 8px 2px 7px;
  background: #ECECEC;
}

.numbers_with_unit{
  padding-left: 40px !important;
}

// input of forms make 100%
.input .select{
  width: 100%;
}

.car_model_en, .english{
  font-family: verdana !important;
}

.panel-heading{
  overflow: hidden;
}

// for auto open menu on hover
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;    
}

// for ads status
.size12{
  font-size: 12px;
}
.incomplete{
  color: rgb(241, 228, 69);
}
.not_verified{
  color: #DDCD00;
  text-shadow: 0px 0px 1px #FFED1A;
}
.actived{
  color: rgb(92, 184, 92);
}
.rejected{
  color: rgb(255, 6, 6);
}
.sold, .expired{
  color: rgba(0, 6, 6, .3);
  td,a{
    color: rgba(0, 6, 6, .3);
    opacity: .7;
  }
}