#article_show{
  .article_complete{
    .truncate{
      font-size: 16px;
    }
  }
  .main_image{
    border-radius: 3px;
    border: 2px solid #DBDBDB;
    padding: 2px;
    margin: 10px auto;
    display: block;
  }
  #varzesh3{
    .main_image{
      margin: 0 10px;
    }
  }

  #articles_list{
    
  }
}