#built_year_car_details{
  .panel-heading{
    padding: 2px; 
  }
  h1{
    padding: 3px 3px;
    font-size: 13px;
  }

  hr{
     margin-top: 3px; 
     margin-bottom: 3px; 
  }
  .title{
    font-size: 1.3em;
  }
  .data{
    color: rgb(133, 133, 133);
    font-size: 10px;    
  }
  .facilities{
    padding-bottom: 10px;
  }
}
  
#built_year_show{
}