#home_show{
  background: url("https://s3-eu-west-1.amazonaws.com/otoyabi/static_files/images/home_background.jpg") no-repeat;
  overflow: hidden;
  #search_form{
    margin: 5px;
    height: 338px;
    background: #F3F3F3;
    padding-bottom: 3px;
    .left{
      padding-right: 5px;
    }
    .right{
      padding-left: 5px;
    }
    label{
      margin-bottom: 0px;
    }
    .input{
      margin-bottom: 5px;
    }
  }
  .transparent{
    padding: 0;
    background: rgba(17, 17, 17, 0.35);
    border-radius: 4px;
    padding: 2px 14px 17px;
    margin: 38px 5px 5px;
    margin-right: 31px;   
    margin-left: 31px;
    overflow: hidden; 
  }  
  #qoute{
    h2{
      color: #E9E9E9;
      text-shadow: 2px 2px 8px #000000;
    }
    .line2{
      color: #F1F1F1;
      text-shadow: 1px 1px 6px #000;
      font-family: sans-serif !important;
      font-size: 1.2em;      
    }
  }
  #todays_ads{
    text-shadow: 0px 0px 7px #FFFFFF;
    form.new_search {
      float: right;
      input{
        color: #F1F1F1;
        text-shadow: 1px 1px 6px #000;
        padding: 1px 0px;
        transition: background .3s;
        width: 80px;
        &:hover {
          background: #C7C7C7;
          border-radius: 3px;
          color: #424242;
          text-shadow: 0px 0px 5px #E9E9E9;
        }
        
      }
    }

  }
}
