@media (min-width: 750px) {
  #todays_ads {
      width: 64%;
  }
}

#home_show{
  background: url("https://s3-eu-west-1.amazonaws.com/otoyabi/static_files/images/home_background.jpg") no-repeat;
  overflow: hidden;
  #search_form{
    margin: 5px 20px;
    height: 338px;
    background: #F3F3F3;
    padding-bottom: 3px;
    .left{
      padding-right: 5px;
    }
    .right{
      padding-left: 5px;
    }
    label{
      margin-bottom: 0px;
    }
    .input{
      margin-bottom: 5px;
    }
  }
  .transparent{
    background: rgba(105, 105, 105, 0.78);
    border-radius: 4px;
    padding: 2px 14px 17px;
    margin: 38px 5px 5px;
    margin-right: 31px;
    margin-left: 31px;
    overflow: hidden;
  }  
  #qoute{
    h2{
      color: #E9E9E9;
      text-shadow: 2px 2px 8px #000000;
    }
    .line2{
      color: #F1F1F1;
      text-shadow: 1px 1px 6px #000;
      font-family: sans-serif !important;
      font-size: 1.2em;      
    }
  }
  #todays_ads{
    background: #F8F8F8;
    text-shadow: 0px 0px 7px #FFFFFF;
    font-size: 16px;
    margin-right: 20px;
    overflow: hidden;
    padding: 4px 34px 20px;
    h3{
      color: #275B88;
      text-shadow: 0px 0px 2px #858585;
    }
    #vehicle_count{
      color: rgba(255, 6, 6, 1);
      font-size: 21px;
      text-shadow: 1px 0px 1px #E01515;
    }
    form.new_search {
      float: right;
      input{
        color: #5C5C5C;
        padding: 7px 9px 5px 0px;
        transition: background .3s;
        width: 76px;
        text-align: right;
        font-size: 11px;
        &:hover {
          background: #C7C7C7;
          border-radius: 3px;
          color: #424242;
          text-shadow: 0px 0px 5px #E9E9E9;
        }
        
      }
    }

  }
}
