#top_navbar{
  .navbar-brand{
    padding: 5px !important;
    height: 30px !important;
    margin-right: -4px;
    img.logo{
      height: 30px !important;
      a{
        padding: 5px 14px !important;
        height: 25px !important;
      }
    }    
  }
  .navbar-nav > li > a {
    padding-top: 13px !important;
    padding-bottom: 6px !important;
  }
  .navbar {
    min-height:32px !important;
    .text-nav {
      color: #3b5b80 !important;
      text-shadow: 0px 0px 5px #E4E4E4;
      .glyphicon{
        top: 4px;
      }
    }
  }
}
