// #top_navbar{
  .navbar-brand{
    padding: 5px !important;
    height: 30px !important;
    margin-right: -4px;
    img.logo{
      height: 30px !important;
      a{
        padding: 5px 14px !important;
        height: 25px !important;
      }
    }    
  }
  .navbar-nav > li > a {
    padding-top: 9px !important;
    padding-bottom: 6px !important;
  }
  .navbar {
    min-height:32px !important;
    background: #457296;
    .text-nav {
      color: #fff !important;
      .glyphicon{
        top: 5px;
        left: -2px;
      }
    }
  }
// }

#others_top_navbar{
  .navbar-brand{
    color: #fff;
    margin-top: 5px;
    text-shadow: 0 0 2px #975656;
    font-size: 20px;
    margin-right: 0px;
  }
  .navbar-nav > li > a {
    padding-left: 4px;
    font-size: 12px;
  }
}
