@-moz-document url-prefix() {
  .remove_filter {
    top: 16px !important;
  }
}
.hint_red_shadow{
  border: 1px solid rgba(255, 92, 92, 0.53);
  box-shadow: 0px 0px 6px rgba(255, 34, 34, 0.26);
}
#search_show{
  #space_for_top_filter{
    height: 33px;
  }
  #top_filter_section{
    border-bottom: 1px solid #E4E4E4;
    padding: 0px 0px 3px 1px;
    position: fixed;
    background: #f1f1f1;
    z-index: 100;
    padding: 3px 3px;
    top: 40px;
    margin-right: 2px;
    margin-top: 5px;
    @media (max-width: 749px) {
      display: none;
    }
    @media (min-width: 750px ) and (max-width: 969px) { 
      width: 404px; 
      top: 40px;
    }

    @media (min-width: 970px ) and (max-width: 1169px) { 
      width: 688px; 
    }

    @media (min-width: 1170px) { 
      width: 838px; 
    }

    .fields{
      display: inline-block;
      border: 1px solid #E0E0E0;
      color: #000;
      border-radius: 2px;
      box-shadow: 0px 0px 2px #aaa;
      margin-left: 7px;
      padding: 0px 7px 0 3px;
      background: #FFF;
      .text{
        display: inline-block;
        color: #2E1B92;
        small{
          color: #857E7E;
          display: inline-block;
          margin-left: 4px;
        }
      }
      .value{
        display: inline-block;
      }
      form{
        height: 12px;
        color: #fff;
        display: inline-block;
        input{
          color: #FF4242 !important;
          text-shadow: 0px 0px 4px #FFF;
          padding: 2px 2px 1px 0px;
          float: left;
          font-size: 1em;
        }
      }
    }
  }
  // result of search
}