#others_topics_home{
  .hover_hidden{
    display: none;
  }
  .topic_list{
    .list-group-item {
      padding: 2px 9px 2px 2px;
    }

    .title{
      font-size: 12px;
    }
    .truncate{
      font-size: 10px;
      color: #aaa;
    }
  }
}