<br>
<div id="built_year_list" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= t ".popular_makes" %> 
      <%= @car_model.make.name %> 
      <%= @car_model.name %> 
    </h3>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <% @built_years.each do |built_year| %>
      <li>
        <span class="glyphicon glyphicon-chevron-left"></span>
        <%= link_to built_year.year, 
            make_car_model_built_year_path(car_model_id: @car_model.slug, id: built_year.year), 
            title: "#{@car_model.make.name} #{@car_model.name} #{built_year.year}" %>
      </li>
    <% end %>
  </ul>
</div>