<%= render "ga" if Rails.env.production?  %>
  
  <%# makes=["peugeot", "pride", "hyundai", "kia", "renault", "samand", "toyota", "nissan", "mvm", "mercedes-benz", "bmw", "lifan"] %>
 
  <% cache "footer" do %>
  <div id="footer">
    <div class="container small">

      <div id="sec1" class="row" >
        <% makes_list.each do |make_arr| %>
          <% make = Make.find(make_arr[0]) %>
          <div class="col-md-2 col-lg-1 list">
            <h3 class="title">
              <%= link_to make.name, make, title:  "فروش خودرو #{make.name}" %>
            </h3>
            <ul>
              <% make.car_models_sorted.each do |car_model_arr| %>
                <% car_model = CarModel.find(car_model_arr[0]) %>
                  <li><%= link_to car_model.name, make_car_model_path(id: car_model, make_id: make), class: "footer_list", title:  "فروش خودرو #{make.name} #{car_model.name}"  %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      </div>

      <div id="sec2" class="row">
        <p id="copyright" class="text-muted pull-right">
          <%= t('application.footer.copyright', year: Time.now().year, href: link_to(t("site_info.title"), root_path) ).html_safe %>
        </p>

        <ul id="social" class="pull-left ">
          <a href="http://www.facebook.com/otoyabi.ir"><li id="facebook-link" ></li></a> 
        </ul>

      </div>
    </div>
  </div>
  <% end %>



</body>
</html>
